.query_form {
    background-color: #fff;
    box-shadow: 0 0 2px;
    margin-top: 2em;
    padding: 2em;
}
.query_form > div {
    margin-top: 3em;
}
.query_form label {
    color: #506a85;
    font-family: Lato,sans-serif;
    font-weight: 500;
}
.query_form input, .query_form select, .query_form textarea {
    background-color: #f5f5f5;
    border: 1px solid #e6e9ed;
    color: #506a85;
    font-family: Lato,Arial,sans-serif,verdana;
    padding: 6px;
}
.query_form div > div {
    margin-top: 1em;
}

.heading {
    background-color: #dadada;
    margin: 0 !important;
    padding: 1em;
}
.heading h3, .heading h4 {
    margin: 0;
}
.sub_heading {
    background: #dadada;
    color: #506a85;
    font-family: Lato,sans-serif,verdana;
    font-size: 18px;
    font-weight: bold;
    padding: 0 2em !important;
}
.Preferred_hotel div > span {
    color: #506a85;
    font-family: Lato,sans-serif;
    font-weight: 500;
    padding: 5px;
}


.query_form h3, .query_form h4 {
    color: #506a85;
    font-family: Lato;
    text-align: center;
    text-transform: uppercase;
}
.sub_heading:before {
    border-bottom: 8px solid transparent;
    border-left: 9px solid #666;
    border-top: 8px solid transparent;
    bottom: 17%;
    content: "";
    display: block;
    height: 0;
    left: 2%;
    position: absolute;
    width: 0;
}


/*Validation*/


#fname::-webkit-input-placeholder {
   color: red;
}

#fname::-moz-placeholder { /* Firefox 18- */
   color: red;  
}

input.#fname ::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

#fname:-ms-input-placeholder {  
   color: red;  
}

input
{
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 3px; 
}


.validate {
    background-color: #BE4B49;
    border: 1px solid #BE4B49;
    bottom: -75%;
    color: #FFF;
    display: block;
    font-family: lato;
    padding: 0.3em;
    position: absolute;
    right:0;
    z-index: 100;
}
.validate:before {
    border-color: transparent transparent #BE4B49;
    border-style: solid;
    border-width: 15px 15px 16px;
    content: "";
    display: inline-block;
    height: 0;
    left: 0;
    position: absolute;
    top: -32px;
    width: 0;
}

/*End of Validation*/